

<a routerLink="/"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;<span>Back</span></a>
<h2>
    Add New Task
</h2>



<form id="formaddtask" name="formaddtask" #addtask ="ngForm" (ngSubmit)="addnewtask(addtask.value)">
    <div class="form-group">
     <div class="input-group">
         <div class="input-group-prepend">
             <div class="input-group-text bg-white">
               
                <i class="fas fa-comment"></i>
             </div>
         </div>
         <input type="text" name="description" id="description" placeholder="Description"  class="form-control" ngModel>
     </div>
     <div class="form-group">
     <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                
                <i class="fas fa-exclamation-circle"></i>
            </div>
        </div>
        <input type="text" name="priority" id="priority" placeholder="Priority"   class="form-control" ngModel>
    </div>
     </div>
    <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
               
                <i class="fas fa-check-circle"></i>
            </div>
        </div>
        <input type="text" name="status" id="status" placeholder="Status"   class="form-control" ngModel>
    </div>
     </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i>&nbsp;&nbsp;<span>Submit</span></button>
    </div>
    <br>
    <h3 *ngIf="isAdded">{{confirmationstr}}</h3>
 </div>
</form>

